
/* -------------------------- Basics */

html{
    overflow-x: hidden !important;
}

body {
    /* font-family: 'Kaisei Tokumin', serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 150%;
    margin: 0;
    overflow-x: hidden !important;
    color: #2F1847 !important;
    /* position: relative; */
}
    
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

small {
    color: gray;
}

hr{
    border-style: none;
    border-top: 1px solid #e6e6fa;
}

a{
    text-decoration: none;
}

.lighter{
    opacity: 0.7;
}

.mg-auto{
    margin: auto;
}
.mg-0{
    margin: 0;
}
.mb-0{
    margin-bottom: 0;
}

.txt-secundario{
    color: gray;
}
.txt-blanco{
    color: #fff;
}

.btn{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: transparent;
    color: #fff !important;
    border:2px solid #fff;
    transition: 0.2s ease-in-out all;
}
.btn:hover{
    background-color: #fff;
    color: #fff;
}

.nivel{
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    /* background-color: #925bf3; */
    background-color: #2F1847;
    color: #fff;
    border-radius: 10px;
    padding: 4px 10px;
    vertical-align: middle;
}
.highlight{
    background-color: #925bf3;
    color: #fff;
    padding: 2px 4px;
}
.highlight-discrete{
    background-color: #e6e6fa;
    padding: 2px 4px;
}

.link-menu{
    color: #925bf3 !important;
    transition: 0.3s ease all;
    font-weight: 400;
}
.link-menu:hover{
    color: #2F1847 !important;
}

/* .fade{
    opacity: 0;
} */

/* -------------------------- Table */

thead{
    text-align: left;
}

/* -------------------------- Menu */

header{
    /* Para este portafolio header no es fijo:
    position: fixed; */
    width: 100vw;
    top: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    z-index: 2;
}

.menu{
    /* padding-left: 5%; */
    float: right;
    margin-right: 5%;
}

.menu li{
    display: inline-block;
    margin-right: 1rem;
}
    
/* -------------------------- Skills */

.skills-list{
    list-style: none;
    padding: 0;
}

.fab{
    width: 15px;
}

.fa-figma{
    color: #E91E63;
}
.fa-html5{
    color: #FFA726;
}
.fa-css3-alt{
    color: #2983c5;
}
.fa-js-square{
    color: #CDDC39;
}
.fa-bootstrap{
    color: #673AB7;
}
.fa-node-js{
    color: #689F38;
}
.fa-git-alt{
    color: #FF5722;
}

/* -------------------------- Aside */
aside{
    position: fixed;
    right:0;
    padding: 0% 5%;
    font-size: 13px;
    line-height: 140%;
    z-index: -1;
    margin: 5rem 4rem;
}
.perfil{
    /* background-color: gray;
    background-image: url("img-ui/AndreaRuiz.png"); */
    background-image: url("images/An-Ru.png");
    border-radius: 100px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border-radius: 100px;
    height: 100px;
    margin: 0 auto;
    width: 100px; */
}
.perfil-info{
    max-width: 141px;
}
.li-enfasis{
    font-weight: 400;
    margin-bottom: 5px;
}

.ico{
    margin-right: 10px;
    height: 13px;
    width: 13px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* -------------------------- Grid */

.contenedor{
    margin: 5% 10% 0;
    display: grid;
}

/* -------------------------- Principal */

 .principal {
     grid-template-columns: 3fr 1fr;
     margin-top: 70px;
 }

 .item {
   grid-column-start: 1;
   grid-column-end: 1;
 }

 .acerca p{
     max-width: 600px;
 }
 
 .skills{
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
 }

 .tags-list{
     list-style: none;
     padding: 0;
 }
 .tags-list li{
     display: inline-block;
     font-family: 'Roboto', sans-serif;
     font-size: 11px;
     margin: 2px 0px;
     /* background-color: #2962FF; */
     background-color: #645bf3;
     color: white;
     padding: 2px 15px;
     border-radius: 15px;
 }

 .grupo-habilidades{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     /* Estilos a prueba */
     font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
 }

 .subgrupo-habilidades h5{
     margin: 0 0 10px;
 }
 .subgrupo-habilidades ul{
     margin-top: 0;
 }

 .perfil-sm{
    /* background-image: url("img-ui/AndreaRuiz.png"); */
    background-image: url("images/An-Ru.png");
    border-radius: 100px;
    height: 120px;
    width: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: none;
}


/* -------------------------- Proyectos */

.proyectos{
    /* margin: 5% 0; HABILITAR CUANDO EXISTA LA SECCIÓN UI/UX*/
    margin: 5% 0 0;
    /* display: grid;
    grid-template-columns: 3fr 1fr; */
}
.proyecto-1{
    /* background-color: skyblue;
    padding: 5% 10% 0;
    background-image: url(https://www.looper.com/img/gallery/frodo-baggins-entire-backstory-explained/intro-1582640416.jpg); */
    background-image: url('img-ui/proyecto1.png');
    position: relative;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.proyecto-2{
    /* padding: 5% 10% 0; */
    /* background-image: url(https://www.ctvnews.ca/polopoly_fs/1.57739.1589396408!/httpImage/image.jpg_gen/derivatives/landscape_620/image.jpg); */
    background: #4713c1; /* Old browsers */
    background: -moz-linear-gradient(45deg, #4713c1 0%, #463fd4 49%, #463fd4 49%, #00ffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4713c1 0%,#463fd4 49%,#463fd4 49%,#00ffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4713c1 0%,#463fd4 49%,#463fd4 49%,#00ffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4713c1', endColorstr='#00ffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.layer {
    background-color: #29B6F6;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* -----------------------PRUEBAS */
/* .bg-1 {
    background-image: url(https://www.ctvnews.ca/polopoly_fs/1.57739.1589396408!/httpImage/image.jpg_gen/derivatives/landscape_620/image.jpg);
    position: relative;
    height:400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.layer-1 {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
/* -----------------------PRUEBAS */
.bg-litterae{
    position: absolute;
    height: 100%;
    width: 100%;
}
.tx-if{
    color: #29B6F6;
}
.tx-litterae{
    color: #26C6DA;
}
.descripcion{
    /* width: 400px; */
    text-align: left;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 400px;
    transform: translate(30%,100px);
    color: white;
}
.descripcion p{
    margin-bottom: 2rem;
}
.logo{
    width: 200px;
}
.mockup-if{
    position: absolute;
    width: 800px;
    margin-left: 300px;
    top: -100px;
    transform: rotate(25deg);
}
/* Detalle proyectos */

.detalle-proyecto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr; */
    column-gap: 5%;
    background-color: #efefef;
}
.detalle-if{
    /* padding: 1% 10% 5% 10%; */
    padding: 5% 10%;
}
.detalle-litterae{
    padding: 5% 10%;
    position: relative;
}
.if-color{
    background-color: #2bbaf2;
    background: rgb(43,134,242);
    background: -moz-linear-gradient(0deg, rgba(43,134,242,1) 0%, rgba(43,186,242,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(43,134,242,1) 0%, rgba(43,186,242,1) 100%);
    background: linear-gradient(0deg, rgba(43,134,242,1) 0%, rgba(43,186,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b86f2",endColorstr="#2bbaf2",GradientType=1);
}
.litterae-color{
    background: #4713c1; /* Old browsers */
    background: -moz-linear-gradient(45deg, #4713c1 0%, #463fd4 49%, #463fd4 49%, #00ffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4713c1 0%,#463fd4 49%,#463fd4 49%,#00ffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4713c1 0%,#463fd4 49%,#463fd4 49%,#00ffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4713c1', endColorstr='#00ffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.main-litterae{
    border-radius: 6px;
    box-shadow: 10px 8px 45px 5px rgba(75,67,92,0.24);
    -webkit-box-shadow: 10px 8px 45px 5px rgba(75,67,92,0.24);
    -moz-box-shadow: 10px 8px 45px 5px rgba(75,67,92,0.24);
    position: absolute;
    top: -104px;
    transform: skewY(10deg);
    width: 400px;
}
.main-if{
    width: 400px;
}
/* -------------------------- Footer */
footer{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: #fff;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 10%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 10%;
    position: relative;
}
.cosa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cosa p{
    padding: 0 10px;
}
.cosa h4,
.cosa ul{
    margin:10px;
}
.lista-foot li{
    display: inline-block;
}
.foot-link{
    color: #fff;
    font-size: 14px;
}
.foot-link:focus{
    color: aqua;
}

.btn-up{
    position: absolute;
    right: 25px;    
    padding: 8px 15px;
    opacity: 0.7;
    text-align: center;
    border-radius: 50px;
    background-color: #fff;
    transition: 0.3s ease all;
}
.btn-up:hover{
    opacity: 1;
}

/* --------------------------------------------------------------- MEDIA QUERIES */

@media screen and (max-width:575px) {
.main-litterae,
.main-if {
   width: 100%;
}
}
@media screen and (max-width:767px) {

header{
    background-color: #fff;
}

/* ------- */

.contenedor{
    display: block;
}
.principal{
    grid-template-columns: none;
}

/* ------- */


.grupo-habilidades {
    display: block;
    grid-template-columns: none;
}

/* ------- */

.proyecto-1,
.proyecto-2{
    height: auto;
}
.proyecto-1{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 120px;
}
.descripcion {
    position: relative;
    width: auto;
    transform: none;
    /* padding: 3rem 10%; */
    font-size: 1.1rem;
    line-height: 150%;
}
.proyecto-1 > .descripcion{
    padding: 13rem 10% 3rem;
}
.mockup-if {
    /* position: relative; */
    width: 400px;
    top: -100px;
    margin-left: -75px;
}
.proyecto-2{
    padding: 3rem 10%;
}
.bg-litterae{
    width: auto;
}

.main-if {
    /* width: 400px; */
}
.detalle-if {
    display: block;
    padding: 15% 10%;
}
.main-litterae {
    position: initial;
    top: 0;
    transform: none;
    /* width: 400px; */
    width: 100%;
    margin:auto;
}
.detalle-litterae{
    display: flex;
    flex-direction: column-reverse;
}

/* ------- */

footer,.cosa{
    display: block;
}
aside{
    display: none;
}
.perfil-sm{
    display: block;
}

/* ------- */

.btn-up {
    right: 1rem;
    bottom: 1rem;
}
}

@media screen and (min-width:992px) {
aside{
    margin: 4rem 2rem;
}
}
@media screen and (max-width:991px){ 
aside{
    /* display: none; */
    margin:0;
    padding: 7% 5%;
}

.main-if{
    width: 100%;
}
}

@media screen and (min-width:1200px){
 aside{
     right: 5%;
 }
}

/* --------------------------MODAL */

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  /* width: 80%; */
  height: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


.animate__animated.animate__fadeIn,
.animate__animated.animate__fadeOut {
    --animate-duration: 0.3s !important;
  }


  .ux-ui{
    min-height: 700px;
}
.galeria{
    padding: 2rem 10%;
    background-color: white;
}
.contenedor-galeria{
    display: grid;
    gap: 1rem;
    /* grid-auto-rows: 22rem; */
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    margin-bottom: 5rem;
}
.card{
    /* background-color: lightgray; */
    position: relative;
    margin: auto;
}
.imagen{
    background-color: salmon;
    width: 20px;
    height: 20px;
}
.p-img{
    width: 100%;
    transition: 0.3s ease all;
    /* cursor: pointer; Descomentar cuando se puedan seleccionar las imágenes*/
    vertical-align: middle;
}
/* .p-img:hover {
  opacity: 0.7; Descomentar cuando se puedan seleccionar las imágenes
} */
.ui-img{
    max-width: 400px;
    /* transform: skewX(5deg); */
    box-shadow: 0px 10px 33px -7px rgb(88 82 128 / 57%);
    -webkit-box-shadow: 0px 10px 33px -7px rgb(88 82 128 / 57%);
    -moz-box-shadow: 0px 10px 33px -7px rgba(88,82,128,0.57);
}